#line_me {max-width: 17%;}

header {border-bottom: 2px solid black;}

        
header a {text-decoration: none;
    font-family: utile-display, sans-serif;
    font-weight: 400;
    font-style: italic;
    color: black;}

nav {margin-left: 12.5%;
    margin-right: 12.5%;
    display: flex;
    justify-content:space-between;
    align-items: baseline;}


h1 {font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1em;}

main {margin-left: 12.5%;
    margin-right: 12.5%;
    display: flex;}



